/* ####### */
/* ANCHORS */
/* ------- */

.a-logo-header {
    background: #ffe600;
    padding-top: 2em;
}

.a-social-footer {
    color: #000;
    font-size: 1.75rem;
    margin: 0 .5em;
}

.a-social-footer:hover { color: #777; }

/* ####### */
/* BUTTONS */
/* ------- */

.a-btn,
.btn { transition: transform 250ms; }

.a-btn:focus,
.a-btn:hover,
.btn:focus,
.btn:hover {
    /* https://coderwall.com/p/gmpjzg/prevent-flickering-on-css3-transitions-transforms-in-webkit */
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    transform: scale(1.06);
}

.a-btn {
    display: inline-block;
    text-decoration: none;
}

.btn {
    background: 0;
    border: 0;
    cursor: pointer;
}

.btn--hero { justify-self: start; }

.btn--primary {
    background: #ffe600;
    color: black;
    font-weight: 700;
    margin-top: 1em;
    padding: .5em 1.75em;
}
