/* ##### */
/* FORMS */
/* ----- */

input,
textarea {
    border: 1px solid #777;
    border-radius: 1px;
    color: #404040;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: .5em;
    padding: .5em;
}

/* ----- */

label {
    color: black;
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: .25em;
}

/* ----- */

.btn--submit {
    font-size: .875rem;
    padding: .75em 3em;
    margin-left: auto;
}

/* ------------- */

.form-contact { display: grid; }

/* ------------- */

@media (min-width: 600px) {

    .label-message,
    .textarea-message,
    .btn--submit { grid-column: span 2; }

    /* ------------- */

    /* Remember this GOTCHA: */
    /* override (min-)width given by browsers */
    input { width: 100%; }

    /* ------------- */

    .input-first-name   { grid-column: 1; }

    /* ------------- */

    .form-contact {
        align-self: start;
        column-gap: 2em;
        grid-auto-flow: dense;
        grid-column: 3 / -2;
        grid-row: span 2;
        grid-template-columns: 1fr 1fr;
    }

}
