/* ###### */
/* GLOBAL */
/* ------ */

* {
   /* border: 1px dotted hotpink; */
   box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
p { margin-top: 0; }

h1,
h2,
strong { font-weight: 700; }

/* ---------- */

.footer-p { margin-bottom: 4em; }

.hero-h1 {
    font-size: 1.5rem;
    line-height: 1.4;
}

.main-col-h2 {
    color: black;
    font-size: 1.25rem;
}

.span-accent { color: #ffe600; }

/* ---------- */

.a-footer-social {
    color: #000;
    font-size: 1.75rem;
    margin: 0 .5em;
}

.a-footer-social:hover { color: #777; }

/* ---------- */

.a-btn {
    display: inline-block;
    font-weight: 700;
    padding: .5em 1.75em;
    text-decoration: none;
}

.a-btn-primary {
    background: #ffe600;
    color: black;
}

.a-btn-hero {
    justify-self: start;
    margin-top: 1em;
}

/* ###### */
/* LAYOUT */
/* ------ */

footer,
.main-section-hero,
.main-section-main-home { padding: 4em 0; }

.header-container,
.main-section-hero > *,
.main-section-main-home > * { grid-column: 2 / -2; }

/* ------ */

.base-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
}

footer {
    background: #ebebeb;
    grid-template-areas:
        ". social ."
        ". main .";
    text-align: center;
}

.footer-aside-social {
    grid-area: social;
    margin-bottom: 2em;
}

.footer-section-main {
    grid-area: main;
    opacity: .4;
}

header { background: black; }

.main-col-home {
    margin-top: 1.25em;
    text-align: center;
}

.main-section-hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position-y: bottom;
    color: white;
}

/* ------ */

.footer-img-logo { margin: 0 auto 1em; }

/* ########## */
/* NAVIGATION */
/* ---------- */

.a-header-logo {
    background: #ffe600;
    padding-top: 2em;
}

.a-header-nav {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
}

.btn {
    background: 0;
    border: 0;
    cursor: pointer;
}

.btn-header-nav-close {
    color: #ffe600;
    font-size: 3rem;
    font-weight: 700;
    padding: .5em;
    position: absolute;
}

.btn-header-nav-open {
    color: white;
    font-size: 2rem;
    margin-left: auto;
    padding: 0;
}

.header-container { display: flex; }

.header-nav {
    position: fixed;
    background: black;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    /* shift to right, off of the canvas */
    transform: translateX(100vw);
    /* transition close/open states smoothly */
    transition: transform 250ms;
}

/* a state class */
/* is added|removed in js/script.js */
.header-nav-open { transform: translateX(0); }

.header-nav-ul {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ############# */
/* MEDIA QUERIES */
/* ------------- */

@media (min-width: 600px) {

    .main-section-hero > * { grid-column: 2 / span 2; }

    .main-section-main-home > * { grid-column: span 1; }

    /* ------------- */

    .base-grid {
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(1em, 1fr);
        column-gap: 2em;
    }

    footer { grid-template-areas: ". main main social ."; }

    .footer-aside-social {
        align-self: center;
        margin-bottom: unset;
        text-align: right;
    }

    .footer-section-main { text-align: left; }

    .main-col-home:first-child { grid-column: 2; }

    .main-section-hero { padding: 6em 0; }

    /* ------------- */

    .footer-img-logo { margin-left: 0 }
}