/* ###### */
/* GLOBAL */
/* ------ */

* {
   /* border: 1px dotted black; */
   box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

/* ########## */
/* TYPOGRAPHY */
/* ---------- */

h1,
h2,
p { margin-top: 0; }

h1,
h2,
strong { font-weight: 700; }

.h1-hero { font-size: 1.5rem; }

.span-accent { color: #ffe600; }

.btn {
    display: inline-block;
    font-weight: 700;
    padding: .5em 1.75em;
    text-decoration: none;
}

.btn-primary {
    background: #ffe600;
    color: black;
}

.btn-hero {
    justify-self: start;
    margin-top: 1em;
}

/* ###### */
/* LAYOUT */
/* ------ */

.header-container { display: flex; }

.section-main-hero {
    background-image: url(../img/hero-bg.jpg);
    color: white;
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
    padding: 4em 0;
}

.section-main-hero > * { grid-column: 2 / -2; }

/* ########## */
/* NAVIGATION */
/* ---------- */

.ul-nav-header { margin: 0; }

.li-nav-header { display: inline; }

/* ############# */
/* MEDIA QUERIES */
/* ------------- */
