body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

/* Typography */

h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

h1 span {
    color: #b7832f;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
}


/*  Layout  */

img {
    max-width: 100%;
}

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.col-bg {
    background: #212614;
    color: #fff;
    padding: 1em;
}

.col-1 {
    width: 21%; /* 25% - 4% */
}

.col-2 {
    width: 46%; /* 50% - 4% */
}

.col-3 {
    width: 71%; /* 75% - 4% */
}
