/* global */

body {
    color: #707070;
    font-family: sans-serif;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
}

/* typography */

h1, h2, p { 
    margin-top: 0;
}

h1 {
    color: #312514;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

img {
    width: 100%;
}

.accent {
    color: #b7832f;
}

/* layout */

.container {
    margin: 0 auto;
    max-width: 980px;
    padding-top: 2rem;
    width: 96%;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    padding: 0;
}

.col {
    /* padding-right: 2em; */
}

.one {
    /* width: 25%; */
    width: 21%;
}

.two {
    /* width: 55%; */
    width: 50%;
}

.three {
    /* width: 80%; */
    width: 70%;
}

.inverted {
    background: #312514;
    color: #fff;
    /* flex-shrink: 0; */
    padding: 1em;
    width: 20%;
}