/* =================
Global
================= */

html,
body {
    margin: 0;
    padding: 0;
}

html { 
    color: #707070;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px; /* For rem to work properly?! TODO: investigage */
    font-weight: 300;
}

img { 
    display: block; /* removes browsers' default img inline-block bottom margin */
    max-width: 100%;
}

/* * { border: 1px dotted black; } */

/* =================
Typography
================= */

h1, 
h2, 
h3, 
p { margin-top: 0; }

h1,
h2,
h3 {
    color: #143774;
    font-family: 'Lora', serif;
}

h2,
h3,
p { line-height: 1.5; }

h1 {
    font-weight: 400;
    color: #143774;
    font-size: 1.8rem;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: .02rem;
}
.h2-article { 
    grid-area: heading;
    margin-top: -.3em; 
}
.h2-widget {
   font-family: 'Ubuntu', sans-serif;
   font-size: 1rem;
   letter-spacing: .2rem;
   text-transform: uppercase;
}

h3 { 
    font-size: 1rem; 
    font-weight: 300;
}
.h3-article {
    color: #1792D2;
    font-size: 1.2rem;
}
.h3-widget-post-recent { order: 1; }

p { letter-spacing: .02rem; }
.p-article-info,
.p-footer { color: #93A3BF; }
.p-article-body { grid-area: body; }
.p-article-info { 
    font-size: .8em; 
    grid-area: info;
    justify-self: right;
}
.p-article-info.home { order: -1; }
.p-subtitle {
    color: #1792d2;
    font-size: .67rem;
    font-weight: 700;
    letter-spacing: .12rem;
    margin: 0;
    text-transform: uppercase;
}
.p-widget { 
    color: #143774;
    font-size: .8rem; 
}

strong { font-weight: 700; }

a { color: #1792d2; }
a:focus,
a:hover { color: #00609b; }
.a-article-continue {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    grid-area: continue;
    letter-spacing: .16rem;
    margin: .5em 0 2.5em;
    text-decoration: none;
    text-transform: uppercase;
}

/* =================
Layout
================= */

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

main,
aside { margin-bottom: 3em; }

.article-featured {
    display: flex;
    flex-direction: column;
}
.article-featured.home {
    border-bottom: 1px solid #707070;
    margin-bottom: 2em;
}

.article-recent {
    align-items: baseline;
    display: grid;
    grid-template-areas: 
        "image image"
        "heading info"
        "body body"
        "continue .";
    margin-bottom: 1em;
}

footer {
    background: #143774;
    padding: 2em 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 900px;
    max-width: 1000px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-widget {
    border: 1em solid #EBEBEB;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-post-recent {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #b8b8b8;
    margin-bottom: 1.3em;
}
.widget-post-recent:last-child {
    border: 0;
    margin-bottom: 0;
}

.img-article-featured { 
    height: 308px;
    margin-bottom: 1.4em;
    object-fit: cover;
    order: -1; 
    /* 
        dev't note: 
        width: 100%; not needed cuz parent is a column directed flexbox
        which means the image takes 100% of parent's width by default
    */
}
.img-article-recent {
    grid-area: image;
    height: 242px;
    justify-self: stretch;
    margin-bottom: .75em;
    object-fit: cover;
}
.img-widget { 
    height: 87px; 
    margin-bottom: .5em; 
    object-fit: cover;
    /* for about-me.jpg, not in widget-post-recent */
    width: 100%; 
}

@media (min-width: 675px) {

    .p-article-info { justify-self: left; }

    .container-flex { flex-direction: row; }

    main { flex: 0 0 70%; }

    aside { flex: 0 1 24%; }

    .article-recent {
        column-gap: 1.5em;
        grid-template-areas: 
            "image heading"
            "image body"
            "image continue"
            "info .";
        grid-template-columns: 1fr 2fr;
    }

    .img-article-recent { align-self: stretch; }
}

/* navigation */

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li { margin: .5em 0; }

nav a {
    color: #707070;
    font-size: .9rem;
    font-weight: 700;
    padding: .25em 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover,
nav a:focus { color: #1792d2; }

.current-page { border-bottom: 1px solid #707070; }

.current-page:hover { color: #707070; }

@media (min-width: 675px) {

    nav ul { flex-direction: row; }    

    nav li { margin: 0 0 0 2em; }

}
