/* =================
Global
================= */

html,
body {
    margin: 0;
    padding: 0;
}

body { 
    color: #707070;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
}

img { 
    display: block; /* removes browsers' default img inline-block bottom margin */
    max-width: 100%;
}

/* * { border: 1px dotted black; } */


/* =================
Typography
================= */

h1, 
h2, 
h3, 
p { margin-top: 0; }

h1,
h2,
h3 {
    color: #143774;
    font-family: 'Lora', serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 { font-size: 1.5rem; }

h3 { font-weight: 300; }

strong { font-weight: 700; }

a { color: #1792d2; }
a:focus,
a:hover { color: #00609b; }

.h2-widget,
.h3-widget-post-recent { font-size: 1rem; }

.h2-article { margin-top: -.3em; }
.h2-article-featured { order: 1; }

.h2-widget {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.h3-article { color: #1792D2; }

.h3-widget-post-recent {
    line-height: 1.4;
    order: 1;
}

.p-article-info,
.p-widget,
.a-article-continue { font-size: .875rem; }

.p-article { order: 1; }

.p-article-info { 
    color: #93A3BF;
    margin: 1.6em 0;
    order: -1; 
}

.p-subtitle {
    color: #1792d2;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}

.p-widget { color: #143774; }

.a-article-continue {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 1em 0 2em;
    order: 1;
    text-decoration: none;
    text-transform: uppercase;
}


/* =================
Layout
================= */

main,
aside { margin-bottom: 3em; }

header {
    background: #f8f8f8;
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

article {
    display: flex;
    flex-direction: column;
}

footer {
    background: #143774;
    color: rgba(255,255,255, .65);
    /* color: #ffffff65; */  /* same as rgba(..) */
    padding: 2em 0;
    text-align: center;
}

.article-featured { flex-direction: column; }
.article-featured.home {
    border-bottom: 1px solid #707070;
    margin-bottom: 2em;
}

.article-recent__aside { order: -1; }

.container {
    width: 90%;
    max-width: 900px;
    max-width: 1000px;
    margin: 0 auto;
}
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-widget {
    border: 1em solid #EBEBEB;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-post-recent {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #b8b8b8;
    margin-bottom: 1.3em;
}
.widget-post-recent:last-child {
    border: 0;
    margin-bottom: 0;
}


/* =================
Images
================= */

.img-article-featured { 
    height: 308px;
    object-fit: cover;
    order: -1; 
    /* 
        dev't note: 
        width: 100%; not needed cuz parent is a column directed flexbox
        which means the image takes 100% of parent's width by default
    */
}
.img-article-featured.about-me { margin-bottom: 3em; }

.img-article-recent {
    height: 242px;
    margin-bottom: .3em;
    object-fit: cover;
    width: 100%;
}

.img-widget { 
    height: 87px; 
    margin-bottom: .5em; 
    object-fit: cover;
    /* for about-me.jpg, not in widget-post-recent (column directed flexbox) */
    width: 100%; 
}


/* =================
Navigation
================= */

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li { margin: .5em 0; }

nav a {
    color: #707070;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: .25em 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover,
nav a:focus { color: #1792d2; }

.current-page { border-bottom: 1px solid #707070; }
.current-page:hover { color: #707070; }

@media (min-width: 675px) {

    nav ul { flex-direction: row; }    

    nav li { margin: 0 0 0 2em; }

}


/* =================
Media Queries
================= */

@media (min-width: 550px) {

    .p-article-info.recent { text-align: right; }

    .article-recent__main { margin-top: -1.6em; }    
}

@media (min-width: 675px) {

    .p-article-info.recent { text-align: left; }

    main { flex: 0 0 70%; }

    aside { flex: 0 1 24%; }

    article { flex-direction: row; }

    .container-flex { flex-direction: row; }

    .article-recent {
        justify-content: space-between;
        margin-bottom: 2em;
    }
    .article-recent__main { 
        margin-top: 0;
        width: 68%; 
    }
    .article-recent__aside { width: 28%; }
}
