/* ====== */
/* Global */
/* ====== */

/* box-sizing reset on html doesn't work */
/* (scrolling required) */
/* dunno why; ok, resetting on `*` */
* { box-sizing: border-box; }

body {
    color: #404040;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* ========== */
/* Typography */
/* ========== */

h1,
h2,
p { margin-top: 0; }

h1 + p,
h2 + p {
    color: #F18119;
    font-size: 1.3125rem;
    font-weight: 900;
    text-transform: uppercase;
}

h1 + p { margin: 0; }

h2 + p { font-size: 1rem; }

h1 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 300;
    margin: .625em 0;
}

h2 {
    font-size: 1.3125rem;
    margin-bottom: .2em;
}

.p-intro-top-text {
    color: #F18119;
    font-size: 0.625rem;
    font-weight: 900;
    letter-spacing: 1px;
    order: -1;
    text-transform: uppercase;
}

.p-registration-privacy {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong { font-weight: 900; }

/* ============= */
/* Intro section */
/* ============= */

.intro,
.registration { padding: 2em 1em; }

.container {
    margin: 0 auto;
    max-width: 960px;
}

.intro {
    background-color: #404040;
    background-image: url(../images/dark-ribs.jpg); /* step up/out: ../.. !!! */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    padding-top: 0;
}

/* ============= */
/* Media queries */
/* ============= */

@media (min-width: 590px) {
    
    body { font-size: 1.125rem; }

    h2 + p { font-size: 1.75rem; }
    
    h1 { font-size: 3.5rem; }
    
    .container { 
        display: flex;
        flex-direction: row; 
    }
    
    .intro,    
    .registration {
        min-height: 100vh;
        width: 50%; 
    }

    .registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
