/* 
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Blinker', sans-serif; 
*/

/* GLOBAL */

* { 
    /* border: 1px dotted black; */
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 100%;
}

img { 
    display: block; 
    max-width: 100%;
}

/* TYPOGRAPHY */

h2,
p { margin-top: 0; }

.p-card-read-time,
.a-button-card-read-more { font-family: 'Blinker', sans-serif; }

h2 { 
    color: #05cbe9;
    font-size: 1.75rem; 
}

strong { font-size: 1.75rem; }

.h2-card { grid-area: heading; }

.p-card-body {
    grid-area: body;
    line-height: 1.6; 
}

.p-card-read-time { 
    font-size: 1.125rem;
    grid-area: footer;
    margin-bottom: 0;
}

.a-button-card-read-more {
    background: #05cbe9;
    color: #111d4a;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    grid-area: footer-button;
    letter-spacing: 1px;
    padding: .5em 1.4em;
    text-align: center;
    text-decoration: none;
}

/* LAYOUT */

.card {
    background: #111d4a;
    color: #ffffff80;
    display: grid;
    grid-template-rows: 195px auto auto auto;
    grid-template-areas: 
        "image image"
        "heading heading"
        "body body"
        "footer footer-button";
    margin: 0 auto;
    max-width: 320px;
}

.img-card {
    align-self: stretch;
    grid-area: image;
    justify-self: stretch;
    object-fit: cover;
}

/* MEDIA QUERIES */

@media (min-width: 560px) {
    h2 { font-size: 2.125rem; }

    .p-card-body { font-size: 1.125rem; }
}